<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PCINU Taiwan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>e</span>Startup</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
          <li class="dropdown"><a href="#"><span>Tentang</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Tentang PCINU</a></li>
              <li><a href="#">PETA PCINU Taiwan</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#features">Kartanu</a></li>
          <li><a class="nav-link scrollto" href="#features">Agenda</a></li>
          <li class="dropdown"><a href="#"><span>File Download</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Laporan Keuangan</a></li>
              <li><a href="#">AD-ART PCINU Taiwan</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Struktur</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">PCINU Cabang Taiwan</a></li>
              <li class="dropdown"><a href="#"><span>PCINU Ranting</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">PCINU Ranting Nankan</a></li>
                  <li><a href="#">PCINU Ranting Tongkang</a></li>
                  <li><a href="#">PCINU Ranting Taichung</a></li>
                  <li><a href="#">PCINU Ranting Changhua</a></li>
                  <li><a href="#">PCINU Ranting Keelung</a></li>
                  <li><a href="#">PCINU Ranting Daxi</a></li>
                  <li><a href="#">PCINU Ranting Yilan</a></li>
                  <li><a href="#">PCINU Ranting Penghu</a></li>
                  <li><a href="#">PCINU Ranting Tongkang</a></li>
                  <li><a href="#">PCINU Ranting Hualien</a></li>
                  <li><a href="#">PCINU Ranting Chiayi</a></li>
                  <li><a href="#">PCINU Ranting Guanyin</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Badan Otonom</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">LAZIS</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Lembaga</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">GP ANSOR</a></li>
                  <li><a href="#">BANSER</a></li>
                  <li><a href="#">Pagar Nusa</a></li>
                  <li><a href="#">Muslimat</a></li>
                  <li><a href="#">Fatayat</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>PCINU Taiwan</h1>
      <h2>Pengurus Cabang Istimewa Nahdlatul Ulama Taiwan</h2>
      <img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> Daftar Kartanu</a>
        <a href="#"><i class="fa fa-windows fa-3x"></i> Sedekah/Infaq/Donasi</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Stok Ayam/Bebek Halal</a>
        <a href="#"><i class="fa fa-play fa-3x"></i> Google Maps</a>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>PETA PCINU Taiwan </h2>
          <p class="separator">PCINU Taiwan terdiri dari Pengurus Cabang dan Pengurus tingkat Ranting yang
          tersebar di beberapa kota di Taiwan</p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Cabang Taiwan di Taipei</h4>
              <p>No.13 Ally 10 Ln 40, Chang’an West Road Taipei City, R.O.C Zhongshan Dist, Taipei City, 104 <br />
              (Exit R2 Taipei Main Station) <br />Kontak: Didik P. (0973686584)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Nankan</h4>
              <p>No.188 Sec 1, Nanshan Road, Luzhu District, Taoyuan city 33861 <br />
              Kontak: Abdul Ghofar (0986744788)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Taichung</h4>
              <p>No. 67, Section 1, Taiwan Blvd, Central District, Taichung City, 400 <br />
              Kontak: Munir Hasim (0902332194)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Daxi</h4>
              <p>No 3 Lane 170 Sec 5 Binhai Rd Toucheng Township, Yilan Country 261 <br />
              Kontak: Abdurrahman (0905481408)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Cabang Taiwan di Dongkang</h4>
              <p>No: 115, Xinyu Dongkang Township, Pingtung County 928 <br />
              Kontak: Umar Robi (0971062917)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Guanyin</h4>
              <p><br /><br /><br />
              Kontak: Ali Maslian (0903794506)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Keelung</h4>
              <p>No 3 Lene 28 Xinsan Road, Zhongzheng District Keelung City <br />
              Kontak: Nour Huda (0966749775)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Taichung</h4>
              <p>No. 84, Tong'ai Street, Sanmin District, Kaohsiung City 80749,Taiwan (R.O.C) <br />
              Kontak: Arokhman Hadi P. (0974376743)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Cabang Taiwan di Hualien</h4>
              <p>No.15 meigong 8th. St. Hualien city. Hualien County (970) <br />
              <br />Kontak: Sutris (0988474634)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Changhua</h4>
              <p>No. 160, Chenggong Rd, Changhua City, Changhua County, 500 <br />
              Kontak: Robet Tri Sasongko (0973686584)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Hualien</h4>
              <p>No.126, Section 3, Jianguo Rd, Minxiong Township, Chiayi County <br />
              Kontak: Muhammad Nur (0901424398)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Penghu</h4>
              <p>Magong City Penghu Country, No: 54 - 3, 2 Hujian<br />
              <br />Kontak: Ady Warnadi (0900472114)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">
              <img src="assets/img/svg/cloud.svg" alt="img">
              <h4>Ranting Yilan</h4>
              <p>No 21 , Lixin street , Su’ao Townsip , Yilan County . Taiwan R.O.C<br />
              Kontak: Akhmad Rasmadi (0900071042)</p>
              
              <a href="#">Info Lebih Lanjut</a>
            </div>
          </div>

          
        </div>
      </div>

    </section><!-- End Get Started Section -->

    

    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Galeri Kegiatan</h2>
        </div>

        <div class="screens-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/screen/1.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/2.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/3.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/4.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/5.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/6.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/7.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/screen/8.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Screenshots Section -->

    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
      <div class="overlay">
        <div class="container-fluid container-full" data-aos="zoom-in">

          <div class="row">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q&feature=emb_title" class="glightbox play-btn"></a>
          </div>

        </div>
      </div>
    </section><!-- End Video Section -->


    

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="padd-section text-cente">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Daftar KARTANU</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-6">
            <div class="block-pricing">
              <div class="pricing-table">
                <h4>Basic</h4>
                <h2>300 NTD</h2>
                <ul class="list-unstyled">
                  <li><font color="red"><i class="bi bi-x-circle"></i> Tidak tersambung dengan EasyCard</font></li>
                  <li><font color="red"><i class="bi bi-x-circle"></i> Tidak bisa top up untuk transaksi di 7/11, Family Mart, dan lainnya</font></li>
                  <li><font color="red"><i class="bi bi-x-circle"></i> Tidak bisa untuk pembayaran MRT, Bus, Kereta, dan lainnya</font></li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> Daftar Sekarang</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="block-pricing">
              <div class="pricing-table">
                <h4>EasyCard</h4>
                <h2>500 NTD</h2>
                <ul class="list-unstyled">
                  <li><font color="green"><i class="bi bi-check-circle"></i> Tidak tersambung dengan EasyCard</font></li>
                  <li><font color="green"><i class="bi bi-check-circle"></i> Tidak bisa top up untuk transaksi di 7/11, Family Mart, dan lainnya</font></li>
                  <li><font color="green"><i class="bi bi-check-circle"></i> Tidak bisa untuk pembayaran MRT, Bus, Kereta, dan lainnya</font></li>
                </ul>
                <div class="table_btn">
                  <a href="#" class="btn"><i class="bi bi-cart"></i> Daftar Sekarang</a>
                </div>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="padd-sectio">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Berita terbaru</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-1.jpg" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                <span>05, juin 2017</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-2.jpg" class="img-responsive" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                <span>05, juin 2017</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="assets/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
              <div class="content-blog">
                <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                <span>05, juin 2017</span>
                <a class="float-end readmore" href="#">read more</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Blog Section -->
  <br />
  <br />
  <br />
    
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">
          

            <a class="navbar-brand" href="#">PCINU Taiwan</a>
            <div class="social-links">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="instagram"><i class="bi bi-envelope"></i></a>
            </div>
            
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Tentang</h4>

            <ul class="list-unstyled">
              <li><a href="#">Tentang PCINU</a></li>
              <li><a href="#">Sedekah/Infaq/Donasi</a></li>
              <li><a href="#">PETA PCINU</a></li>
              <li><a href="#">Google Maps</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Layanan</h4>

            <ul class="list-unstyled">
              <li><a href="#">Kartanu</a></li>
              <li><a href="#">Stok Ayam Halal</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Link Terkait</h4>
            <ul class="list-unstyled">
              <li><a href="#">Perpanjang Passport</a></li>
              <li><a href="#">Pengaduan PMI</a></li>
              <li><a href="#">Website KDEI</a></li>
              <li><a href="#">Temu dan Hilang</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Sosial Media</h4>

            <ul class="list-unstyled">
              <li><a href="#">Youtube</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Facebook</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; PCINU Taiwan</p>
        <div class="credits">
          Powered by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>